* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #314e52;
}
body {
    background-color: #D8E2DC;
}

.formaDesplazamiento{
    float: left;
    position: relative;
    width: 75%;
    height: 75%;
}

.logo {
    float: left;
    /* margin-top: 0.1%;
    margin-left: 0.3%;
    margin-right: 0.8%; */
    /* max-width: 3%; */
}
.logo img{
    width: 6%;
    height: 6%;
    /* min-width: 5%; */
    
}

header {
    
    font-size: 200%;
    color: #314e52;
    line-height: 100%;
}

header img{
    margin-top: 1%;
}

header,nav {
    background-color: #d6d2d1; 
    border: 2px solid #4589c0b6;
}

header form {
    font-size: 65%;
    float: right;
    /* padding: 1%; */
}

header a{
    text-align: right;
    font-size: 30px;
    margin-left: 10px;
}

nav {
    text-align: center;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-top: 1%;
}

nav a{
    margin-top: 3%;
    margin-left: 0.5%;
    margin-right: 2%;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
    padding: 0.2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 150%;
}

.fotoinicial {
    width: 70%;
    height: 30%;
    margin-top: 2%;
}

.fotoinicio {
    position: relative;
    text-align: center;
}

section h1 {
    position: absolute;
    font-size: 4vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}



table {
    position: relative;
    top: none;
    left: 4%;
    margin-top: 4%;
}

td {
    border: 1px solid black;
    
}

td h2 {
    position: relative;
    left: 25%;
    top: none;
}

aside {
    background-color: gray;
    float: right;
    position: absolute;
    bottom: 55%;
    left: 84%;
}

footer {
    background-color: gray;
}