* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #314e52;
}
body {
    background-color: #b4f1ff;
}

/* ------------HEADER---------------- */
.logo{
    width: 50px;
    height: auto;
    vertical-align: middle;
}

.redesSociales {
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 1%;
    margin-top: 10px;
}

.buscador {
    font-size: 100%;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}

header {
    background-color: #d6d2d1; 
    border: 2px solid #4589c0b6;
}

header a{
    font-size: 200%;
    color: #314e52;
    /* line-height: 200%; */
    font-size: 200%;
    margin-left: 10px;
    vertical-align: middle;
}

nav{
    background-color: #d8ec90; 
    border: 2px solid #4589c0b6;
    text-align: center;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-top: 1%;
}

nav a{
    margin-top: 3%;
    margin-left: 0.5%;
    margin-right: 2%;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
    padding: 0.2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 150%;
}
ul li {
    display: inline;
}
/* ----------- */
/* -----------ASIDE----------- */
aside {
    background-color: #d8ec90;
    border: 2px solid #4589c0b6;
    float: right;
    position: relative;
    width: 25%;
    height: 20%;
    top: 150px;
}

aside p {
    margin-left: 6%;
    margin-right: 6%;
}

aside a {
    margin-left: 6%;
    margin-right: 6%;
}

aside form {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
}

.asidegrande {
    font-size: 25px;
}

.redesSociales2 {
    width: 25px;
    height: 25px;
}

aside form input {
    font-size: 30px;
    border: solid black 1px;
}
/* ----------------- */

.fotoinicial {
    width: 70%;
    height: 30%;
    margin-top: 3%;
    border: solid black 2px;
    box-shadow: 10px 10px gray;
}

.fotoinicio {
    position: relative;
    margin-left: 50px;
}


section {
    background-color: #d6d2d1;
    margin: 20px;
    border: solid black 2px;
}

section h1 {
    position: absolute;
    font-size: 3vw;
    top: 40%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 4px 4px black;
}

table {
    margin-top: 4%;
    margin-left: 44px;
    height: 65%;
    width: 70%;
    border: solid #4589c0b6 2px;
}

td {
    font-size: 17px;
    text-align: center;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    width: 20%;
}

table,td,tr {
    border-spacing: 10px;
}

table img {
    border: solid black 2px;
    box-shadow: 4px 4px gray;
}

.promocion {
    background-color: #d6d2d1;
    border: 2px solid #4589c0b6;
    margin-bottom: 3%;
    margin-left: 40px;
    width: 60%;
    height: auto;
    padding: 1.5%;
}

.promocion input[type~="email"] {
    width: 150px;
}

/* ------------FOOTER------------- */
.footer {
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    background-color: #d6d2d1;
    text-align: center;
    padding: 0.1%;
    border: 2px solid #4589c0b6;
}
/* ----------- */