* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #314e52;
}
body {
    background-color: #b4f1ff;
}

/* ------------HEADER---------------- */
.logo{
    width: 50px;
    height: auto;
    vertical-align: middle;
}

.redesSociales {
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 1%;
    margin-top: 5px;
}
@media screen and (max-width: 800px) {
    .redesSociales{
        width: 10px;
        height: 10px;
    }
}

.buscador {
    font-size: 100%;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
@media screen and (max-width: 800px) {
    .buscador {
        font-size: 80%;
    }
}

header {
    background-color: #d8ec90; 
    border: 2px solid #4589c0b6;
}

header a{
    font-size: 200%;
    color: #314e52;
    /* line-height: 200%; */
    font-size: 200%;
    margin-left: 10px;
    vertical-align: middle;
}
@media screen and (max-width: 800px) {
    header a{
        font-size: 140%;
        margin-left: 1px;
    }
}

nav{
    background-color: #d8ec90; 
    border: 2px solid #4589c0b6;
    text-align: center;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-top: 1%;
}

nav a{
    margin-top: 3%;
    margin-left: 0.5%;
    margin-right: 2%;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
    padding: 0.2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 150%;
}
ul li {
    display: inline;
}
/* ----------- */
/* -------------ASIDE------------- */

aside {
    background-color: #d8ec90; 
    border: 2px solid #4589c0b6;
    float: right;
    position: relative;
    width: 25%;
    height: 20%;
    top: 150px;
    margin-right: 0.5%;
}

@media screen and (max-width: 800px) {
    aside{
        float: none;
        position: none;
        width: 100%;
        top: inherit;
        margin-top: 1%;
    }
}

aside p {
    margin-left: 6%;
    margin-right: 6%;
}

aside a {
    margin-left: 6%;
    margin-right: 6%;
}

.asidegrande {
    font-size: 25px;
}

.redesSociales2 {
    width: 25px;
    height: 25px;
}
@media screen and (max-width: 800px) {
    .redesSociales2 {
        width: 10%;
        height: 10%;
    }
}

aside form {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
}

aside form input[type~="email"],input[type~="text"] {
    width: 90%;
    font-size: 20px;
    border: solid black 1px;
}
aside form input {
    width: 100px;
    font-size: 20px;
    border: solid black 1px;
}
/* --------------- */

.fotoinicial {
    width: 70%;
    height: 30%;
    margin-top: 3%;
    border: solid black 2px;
    box-shadow: 10px 10px gray;
}
@media screen and (max-width: 800px) {
    .fotoinicial{
        width: 98%;
        box-shadow: 1px 1px gray;
    }
}

.fotoinicio {
    position: relative;
    margin-left: 50px;
}
@media screen and (max-width: 800px) {
    .fotoinicio{
        position: inherit;
        margin-left: 1%;
    }
}


section {
    background-color: #d6d2d1;
    margin-top: 15px;
    border: solid black 2px;
}
@media screen and (max-width: 800px) {
    section{
        margin: 1%;
    }
}

section h1 {
    position: absolute;
    font-size: 3vw;
    top: 40%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 4px 4px black;
}
@media screen and (max-width: 800px) {
    section h1 {
        position: absolute;
        font-size: 5vw;
        top: 160%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 4px 4px black;
    }
}

table {
    margin-top: 4%;
    margin-left: 44px;
    height: 65%;
    width: 70%;
    /* border: solid #4589c0b6 2px; */
}
@media screen and (max-width: 800px) {
    table{
        margin-left: 1%;
        width:98%;
    }
}

td {
    font-size: 17px;
    text-align: center;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    width: 20%;
}

table,td,tr {
    border-spacing: 10px;
}

table img {
    border: solid black 2px;
    box-shadow: 4px 4px gray;
}

.promocion {
    background-color: #d6d2d1;
    border: 2px solid #4589c0b6;
    margin-bottom: 3%;
    margin-left: 40px;
    width: 90%;
    height: auto;
    padding: 1.5%;
}

.promocion input[type~="email"] {
    width: 150px;
}
@media screen and (max-width: 800px) {
    .promocion{
        margin-left: inherit;
        width: 94%;
    }
}

/* ------------FOOTER------------- */
.footer {
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    background-color: #d6d2d1;
    text-align: center;
    padding: 0.1%;
    border: 2px solid #4589c0b6;
}
/* ----------- */