* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #314e52;
}
body {
    background-color: #D8E2DC;
}

.logo{
    width: 5%;
    height: auto;
    vertical-align: middle;
}

.redesSociales {
    position: relative;
    left: 65%;
    top: 17px;
    /* float: right; */
    /* float:right;
    margin: 0 0 10px 10px; */

    /* margin-top: 3%; */
    border: solid black;
    width: 2%;
    height: auto;

}
.buscador {
    font-size: 100%;
    float: right;
    /* padding-top: 0.5%;
    padding-right: 0.5%; */
    border: solid black;
}

header,nav {
    background-color: #d6d2d1; 
    border: 2px solid #4589c0b6;
}


header a{
    font-size: 200%;
    color: #314e52;
    /* line-height: 200%; */
    font-size: 200%;
    margin-left: 10px;
    vertical-align: middle;
}

nav {
    text-align: center;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-top: 1%;
}

nav a{
    margin-top: 3%;
    margin-left: 0.5%;
    margin-right: 2%;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
    padding: 0.2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 150%;
}

.fotoinicial {
    width: 50%;
    height: 30%;
    margin-top: 3%;
}

.fotoinicio {
    position: relative;
    left: 5%;
}

section h1 {
    position: absolute;
    font-size: 3vw;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
}



table {
    position: relative;
    top: none;
    left: 4%;
    margin-top: 4%;
    height: 50%;
    width: 50%;
    border-spacing: 20px;
}

td {
    border: 1px solid black;
    text-align: center;
    margin: 20%;
}

article h2 {
    position: relative;
    left: none;
    top: none;
}

aside {
    background-color: gray;
    float: right;
    position: absolute;
    width: 20%;
    height: 20%;
    bottom: 55%;
    left: 84%;
}

footer {
    background-color: gray;
}