* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #314e52;
}
body {
    background-color: #b4f1ff;
}

.logo{
    width: 50px;
    height: auto;
    vertical-align: middle;
}

.redesSociales {
    float: right;
    width: 17px;
    height: 17px;
    margin-right: 1%;
}

aside p {
    margin-left: 6%;
    margin-right: 6%;
    background-color: #d6d2d1;
}

aside a {
    margin-left: 6%;
    margin-right: 6%;
    background-color: #d6d2d1;
}

aside form {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    background-color: #d6d2d1;
}

.asidegrande {
    font-size: 25px;
}

.redesSociales2 {
    width: 1.5vw;
    height: 1.5vw;
}

.buscador {
    font-size: 100%;
    float: right;
}

header,nav {
    background-color: #d6d2d1; 
    border: 2px solid #4589c0b6;
}


header a{
    font-size: 200%;
    color: #314e52;
    /* line-height: 200%; */
    font-size: 200%;
    margin-left: 10px;
    vertical-align: middle;
}

ul li {
    display: inline;
}

nav {
    text-align: center;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-top: 1%;
}

aside {
    background-color: #d6d2d1;
    border: 2px solid #4589c0b6;
    float: right;
    position: relative;
    width: 25%;
    height: 20%;
    top: 350px;
}

nav a{
    margin-top: 3%;
    margin-left: 0.5%;
    margin-right: 2%;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
    padding: 0.2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 150%;
}

.fotoinicial {
    width: 65%;
    height: 30%;
    margin-top: 3%;
}

.fotoinicio {
    position: relative;
    margin-left: 64px;
}

section h1 {
    position: absolute;
    font-size: 3vw;
    top: 40%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 4px 4px black;
}



table {
    position: relative;
    top: none;
    margin-top: 4%;
    margin-left: 44px;
    height: 64%;
    width: 64%;
}

td {
    font-size: 17px;
    text-align: center;
    margin: 20%;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}

table,td,tr {
    border-spacing: 15px;
}

article h2 {
    position: relative;
    left: none;
    top: none;
}

.promocion {
    background-color: #d6d2d1;
    border: 2px solid #4589c0b6;
    margin-bottom: 3%;
    width: 60%;
    height: auto;
    padding: 1.5%;
}

.promocion input[type~="email"] {
    width: 150px;
}

.footer {
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    background-color: #d6d2d1;
    text-align: center;
    padding: 0.1%;
    border: 2px solid #4589c0b6;
}
