* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #314e52;
}
body {
    background-color: #b4f1ff;
}
/* ---------------HEADER----------------- */
.logo{
    width: 50px;
    height: auto;
    vertical-align: middle;
}

header,nav {
    background-color: #d6d2d1; 
    border: 2px solid #4589c0b6;
}

header a{
    font-size: 200%;
    color: #314e52;
    /* line-height: 200%; */
    font-size: 200%;
    margin-left: 10px;
    vertical-align: middle;
}

.redesSociales {
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 1%;
    margin-top: 10px;
}

.buscador {
    font-size: 100%;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}

nav {
    text-align: center;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-top: 1%;
}
nav a{
    margin-top: 3%;
    margin-left: 0.5%;
    margin-right: 2%;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
    padding: 0.2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 150%;
}

ul li {
    display: inline;
}
/* ------------- */
/* -------------ASIDE------------- */
aside {
    background-color: #d6d2d1;
    border: 2px solid #4589c0b6;
    float: right;
    position: relative;
    width: 25%;
    height: 20%;
    top: 150px;
}

aside p {
    margin-left: 6%;
    margin-right: 6%;
    background-color: #d6d2d1;
}

aside a {
    margin-left: 6%;
    margin-right: 6%;
    background-color: #d6d2d1;
}

aside form {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    background-color: #d6d2d1;
}

.asidegrande {
    font-size: 25px;
}

.redesSociales2 {
    width: 25px;
    height: 25px;
}

aside form input {
    font-size: 30px;
    border: solid black 1px;
}
/* --------------- */
/* ------------FORMULARIO---------- */
form.formulario{
    font-size: 30px;
    text-align: center;
}
.formulario input, .formulario textarea{
    font-size:30px;
    border:2px solid black ;
    padding: 20px;
}
.enviar{
    margin-left: 670px;
}
/* ------------ */

section p{
    text-align: center;
    font-size: 20px;
    margin-right: 500px;
    margin-left: 10px;
}

section{
    margin-left: 40px;
    margin-left: 10px;
}

section h1 {
    text-align: center;
    font-size: 60px;
    text-shadow: 4px 4px rgb(182, 174, 174);
    color: rgb(88, 98, 99);
}

section h2 {
    font-size: 40px;
    text-shadow: 4px 4px rgb(182, 174, 174);
    color: rgb(82, 123, 156);
}


article h2 {
    position: relative;
    left: none;
    top: none;
}

/* ------------FOOTER------------- */
.footer {
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    margin-right: 26%;
    margin-left: 2%;
    background-color: #d6d2d1;
    text-align: center;
    padding: 0.1%;
    border: 2px solid #4589c0b6;
    margin-top: 100px;
}
/* ------------ */