* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #314e52;
}
body {
    background-color: #b4f1ff;
}

/* ------------HEADER---------------- */
.logo{
    width: 50px;
    height: auto;
    vertical-align: middle;
}

.redesSociales {
    float: right;
    width: 20px;
    height: 20px;
    margin-right: 1%;
    margin-top: 5px;
}
@media screen and (max-width: 800px) {
    .redesSociales{
        width: 10px;
        height: 10px;
    }
}

.buscador {
    font-size: 100%;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
@media screen and (max-width: 800px) {
    .buscador {
        font-size: 80%;
    }
}

header {
    background-color: #d8ec90; 
    border: 2px solid #4589c0b6;
}

header a{
    font-size: 200%;
    color: #314e52;
    /* line-height: 200%; */
    font-size: 200%;
    margin-left: 10px;
    vertical-align: middle;
}
@media screen and (max-width: 800px) {
    header a{
        font-size: 140%;
        margin-left: 1px;
    }
}

nav{
    background-color: #d8ec90; 
    border: 2px solid #4589c0b6;
    text-align: center;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    margin-top: 1%;
}

nav a{
    margin-top: 3%;
    margin-left: 0.5%;
    margin-right: 2%;
    border: 1px solid black;
    border-top: transparent;
    border-bottom: transparent;
    padding: 0.2%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 150%;
}
ul li {
    display: inline;
}
/* ----------- */
/* -----------ASIDE----------- */
aside {
    background-color: #d8ec90; 
    border: 2px solid #4589c0b6;
    float: right;
    position: relative;
    width: 25%;
    height: 20%;
    top: 381.5px;
}

@media screen and (max-width: 800px) {
    aside{
        float: none;
        position: none;
        width: 100%;
        top: inherit;
        margin-top: 1%;
    }
}

aside p {
    margin-left: 6%;
    margin-right: 6%;

}

aside a {
    margin-left: 6%;
    margin-right: 6%;

}

aside form {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
}

aside form input[type~="email"],input[type~="text"] {
    width: 90%;
    font-size: 20px;
    border: solid black 1px;
}
aside form input {
    width: 100px;
    font-size: 20px;
    border: solid black 1px;
}

.asidegrande {
    font-size: 25px;
}

.redesSociales2 {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 800px) {
    .redesSociales2 {
        width: 10%;
        height: 10%;
    }
}
/* --------------- */

section {
    margin-right: 27%;
    margin-left: 1%;
}
@media screen and (max-width: 800px) {
    section{
        margin-left: 0;
        margin-right: 0;
    }
}

article h2 {
    position: relative;
    left: none;
    top: none;
}

h2+p {
    margin-top: 35px;
    margin-bottom: 35px;
}

.titulos img {
    background-color: #d6d2d1;
    border: 2px solid #4589c0b6;
    border-radius: 25%;
    width: 30px;
    height: 30px;
    padding: 0.5%;
    margin-left: 21%;
    margin-top: 4%;
}

table img {
    width: 100%;
    height: 100%;
}

div.iconosdearriba {
    position: relative;
    top: 33px;
    background-color: #d8ec90; 
    border: 2px solid #4589c0b6;
    width: 34.7%;
    height: 210px;
    text-align: center;
    float: right;
    left: 37.5%;
}
@media screen and (max-width: 800px) {
    div.iconosdearriba {
        position: relative;
        top: inherit;
        background-color: #d8ec90; 
        border: 2px solid #4589c0b6;
        width: 100%;
        height: 250px;
        text-align: center;
        float: none;
        position: inherit;
        top: none;
        left: inherit;
    }
}

.iconosdearriba img{
    width: 20px;
    height: 20px;
}
.iconosdearriba p {
    margin: 4%;
}

.iconostabla img{
    width: 20px;
    height: 20px; 
}

td {
    padding: 2.5px;
    text-align: center;
}

td a img {
    /* border: solid snow 1px; */
    background-color: #e2e1e0;
    padding: 10px;
}

td, tr {
    margin: 40px;
}

.colorarticle {
    background-color: #d6d2d1;
    border: 2px solid #4589c0b6;
    margin-top: 33px;
    padding: 2%;
}

.nombreciudad {
    font-size: 18px;
    font-weight: bold;
}



/* ------------FOOTER------------- */
.footer {
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    background-color: #d6d2d1;
    text-align: center;
    padding: 0.1%;
    border: 2px solid #4589c0b6;
}
/* ----------- */
